#container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
}

#map {
  height: 100%;
  right: 0;
}

.listView {
  height: auto;
  background-color: #8BC34A;
  width: 25%;
  position: absolute;
  left: 0;
  padding: 0 15px;
  border-radius:0 10px 10px 0;
}

.nav{
  background-color: #E91E63;
  color: #080808;
  padding: 15px;
  text-transform: uppercase;
}

.infoWindow{
  width: 150px;
}

.form-control{
  min-height: 28px;
  width: 90%;
  border: 1px solid #222a3e;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 12px;
  padding: 10px;
}

input[type="text"]:focus{
  outline: none;
  box-shadow: 0px 0px 5px #313e41;
  border:1px solid #c59466;
  border-radius: 5px;
}

input[type="text"]:hover{
  border: 1px solid #666;
  border-radius: 5px;
}

input[type="text"]:focus:hover{
  outline: none;
  box-shadow: 0px 0px 5px #c59466;
  border:1px solid #313e41;
  border-radius:5px;

}   

ul{
 padding-right: 10px;
 list-style-type: lower-roman;
}

li{
  padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
.listView {
  height: auto;
  background-color: #8BC34A;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0 10px 10px 0;
}
ul{
  font-size: 10px;
}
}